@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans|Lato|Montserrat:100,200,300,400,500,600,700,900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
    background-color: #7fe7dc;
    font-family: 'Lato', sans-serif;
    letter-spacing: .1rem;
}

h2 {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

/* landing page starts here */

.landing {
    width: 100vw;
	max-height: 100vh;
    position: relative;  
}

#address {
    opacity: .6;
}

.center-container {
	width: 50vw;
	height: 45vh;
	margin: 0 auto;
	margin-top: 21vh;
	text-align: center;
    background-color: #316879;
    color: #ced7d8;
    font-family: 'Lato', sans-serif;
}

#main-title {
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    font-weight: 500;
}

.main-buttons {
	margin-top: 5rem;
	width: 170px;
	height: 50px;
    text-transform: uppercase;
    background-color: #f47a60;
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.main-buttons:hover {
    background-color: #ced7d8;
    color: #f47a60;
}

#startQuiz {
	height: 60px;
	font-size: 2.2rem;
    margin-top: 2rem;
}

/* social icons styling */

.social {
    width: 0;
    margin-top: 4rem;
    font-size: 3rem;
}

.social li {
	margin: .5rem;
}

.social li a {
    padding: 0;
}

.social li i {
    color: rgb(48, 48, 48);
}

.contact-details {
    margin-top: 1.1rem;
    text-align: center;
}

/* social icons styling ends */

.view {
    position: absolute;
    bottom: 0;
    left: 44.7vw;
}

#quickView {
    color: #ced7d8;
    width: 150px;
    height: 30px;
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease;
}

#quickView:hover {
    background-color: #7fe7dc;
    color: #f47a60;
}

/* landing page section ends here */

/* category options section starts here */

.hiddenAreas {
	height: 820px;
	display: none;
}

#category {
    margin-top: 26.3vh;
}

#category h2 {
	font-size: 5rem;
}

.category-buttons {
    margin-top: 3rem;
}

/* category section ends here */

/* game section starts here */

.quote-section {
	text-align: center;
}

#gameCategory {
	margin-top: 5rem;
}

#gameOver-container {
    margin-top: 26.4vh;
}

#questions-container {
	margin-top: 6.5vh;
}

#scienceOption h1 {
	font-size: 4rem;
}

#quote {
	text-transform: capitalize;
}

#questions {
    width: 100%;
    height: 43%;
    font-size: 2.5rem;
    font-weight: 400;
}

#lifeBox {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 3rem;
    border: 3px solid #316879;
    border-radius: .8rem;
	text-align: center;
	font-size: 9rem;
    color: #f47a60;
    background-color: #ced7d8; 
}

/* congratulation section starts here */

#congratulations-text {
	margin: 0;
}

.trophy {
	margin: 3rem 0 0 0;
	font-size: 1rem;
}

@keyframes photo-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(8);
	}
}

.gold {
	animation-name: photo-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: rgba(255,215,0,.8);
}

.silver {
	animation-name: photo-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: rgb(240, 240, 240);
}

.bronze {
	animation-name: photo-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: rgb(205, 127, 50);
}

/* media queries start here */

@media (max-width: 576px) {
   .main-buttons {
    margin-top: 3rem;
    }
   .center-container {
    width: 90vw;
    height: 49vh;
    margin-top: 3.4vh;
   }
   #questions-container {
	margin-top: 3.4vh;
}
   #questions {
       font-size: 2rem;
       height: 43%;
   }
   .main-buttons {
       margin-top: 1rem;
   }
   #lifeBox {
       width: 25vw;
       height: 15vh;
       margin-top: 3.6rem;
       font-size: 7rem;
   }
   .hiddenAreas {
       height: 100%;
   }
   h2 {
       font-size: 3rem;
   }
   .category-buttons {
       width: 25vw;
       font-size: 1.2rem;
   }
   #categorySelection {
       margin-top: 3rem;
   }
   #category h2 {
	font-size: 3.1rem;
   }
   #gameOver-buttons {
       margin-top: 5rem;
   }
   #congratulations-container {
       margin-top: 24vh;
   }
}

@media (max-width: 768px) {
    .center-container {
        width: 80vw;
        height: 44vh;
        margin-top: 19vh;
    }
    #mainMenu {
        margin-top: 8rem;
    }
    .contact-details {
        margin: 0;
    }
    .view {
        left: 41vw;
    }
    #lifeBox {
        margin-top: 9rem;
    }
    #congratulations-container {
        margin-top: 24vh;
    }
    #gameOver-container h2 {
        margin-top: 8rem; 
    }
    #category h2 {
        margin-top: 5rem;
    }
}

@media (min-width: 1024px) {
    .center-container {
        width: 80vw;
    }
    #main-title {
        margin-top: 10rem;
        font-size: 10rem;
    }
    #startQuiz {
        width: 250px;
        height: 90px;
    }
    .main-buttons {
        widows: 250px;
        height: 90px;
    }
    #category h2 {
        margin-top: 10rem;
    }
}