@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans|Lato|Montserrat:100,200,300,400,500,600,700,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #7fe7dc;
    font-family: 'Lato', sans-serif;
    letter-spacing: .1rem;
}

h2 {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.row {
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.center-container {
    width: 50vw;
    height: 45vh;
    margin: 0 auto;
    margin-top: 22.3vh;
    text-align: center;
    background-color: #316879;
    color: #ced7d8;
    font-family: 'Lato', sans-serif;
}

/* landing page starts here */

.landing {
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    margin-top: 0;
    padding: 0;
}

#title-container {
    margin-top: 21.8vh;
}

#main-title {
    margin: 0;
}

h1 {
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    font-weight: 500;
}

.main-buttons {
    margin-top: 5rem;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    background-color: #f47a60;
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.main-buttons:hover {
    background-color: #ced7d8;
    color: #f47a60;
}

#startQuiz {
    height: 60px;
    font-size: 2.2rem;
    margin-top: 2rem;
}

/* landing page ends here  */

/* social icons styling */

.social {
    width: 0;
    margin-top: 0;
    font-size: 3rem;
}

.social li {
    margin: .5rem;
}

.social li a {
    padding: 0;
}

.social li i {
    color: rgb(48, 48, 48);
}

a:hover {
    transform: scale(1.1);
}

.contact-details {
    margin-top: .4rem;
    text-align: center;
    opacity: .8;
}

/* social icons styling ends */

.row {
    margin: 0;
    padding: 0;
}

/* landing page section ends here */

/* category options section starts here */

.hiddenAreas {
    height: 100vh;
    display: none;
    margin: 0;
    padding: 0;
}

#category {
    margin-top: 25vh;
}

#category h2 {
    margin-top: 0;
    font-size: 4rem;
}

.category-buttons {
    margin-top: 3rem;
}

/* category section ends here */

/* game section starts here */

#catTitle {
    margin-top: 0;
}

.quote-section {
    text-align: center;
}

#quote {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.quote-authors {
    color: rgb(48, 48, 48);
    font-weight: 500;
}

.quote-authors:hover {
    color: rgb(48, 48, 48);
}

#gameCategory {
    margin-top: 5rem;
}

#questions-container {
    margin-top: 7.6vh;
}

#gameOver-container {
    margin-top: 25vh;
}


#scienceOption h1 {
    font-size: 4rem;
}

#questions {
    width: 100%;
    height: 43%;
    font-size: 2.5rem;
    font-weight: 400;
}

.green {
    color: rgb(6, 191, 43);
}

.red {
    color: rgb(153, 43, 43);
}

#rightAnswer {
    margin: .8rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


#lifeBox {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 5rem;
    border: 3px solid #316879;
    border-radius: .8rem;
    text-align: center;
    font-size: 6rem;
    color: #f47a60;
    background-color: #ced7d8;
}

/* game section ends here */

/* congratulation section starts here */

#congratulations-container {
    margin-top: 25vh;
    padding-top: 2.5rem;

}

#congratulations-text {
    margin: 0;
}

.trophy {
    margin: 5rem 0 0 0;
}

@keyframes trophy-zoom {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(4) rotate(360deg);
    }
}

.gold {
    animation-name: trophy-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: rgba(255, 215, 0, .8);
}

.silver {
    animation-name: trophy-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: rgb(240, 240, 240);
}

.bronze {
    animation-name: trophy-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: rgb(205, 127, 50);
}

/* congratulations section starts here */

/* media queries start here */

@media (max-width: 767px) {
    #mainMenu {
        padding: 0;
    }

    #title-container {
        margin-top: 15.9vh;
    }

    #title-container h2 {
        font-size: 2rem;
        margin-top: 0;
    }

    #main-title {
        margin: 5rem 0 1rem 0;
    }

    .social {
        margin-top: 8rem;
    }

    #socialRow {
        padding-left: 1rem;
    }

    #startQuiz {
        margin-top: 2.9rem;
    }

    .main-buttons {
        margin-top: 3rem;
    }

    .social li {
        margin: 3rem
    }

    .center-container {
        width: 90vw;
        height: 49vh;
        margin-top: 3.4vh;
    }

    ul {
        display: inline-flex;
    }

    #gameCategory {
        margin-top: 0;
    }

    #quote {
        height: 10vh;
        font-size: 1.5rem;
    }

    #questions-container {
        margin-top: 7vh;
    }

    #questions {
        font-size: 2rem;
        height: 43%;
    }

    #rightAnswer {
        margin-top: .9rem;
    }

    .main-buttons {
        margin-top: 1rem;
    }

    #lifeBox {
        width: 25vw;
        height: 15vh;
        margin-top: 2.4rem;
        font-size: 6.2rem;
    }

    .hiddenAreas {
        height: 100%;
    }

    h2 {
        font-size: 3rem;
    }

    .category-buttons {
        width: 25vw;
        font-size: 1.2rem;
    }

    #categorySelection {
        margin-top: 3rem;
    }

    #category h2 {
        font-size: 3.1rem;
    }

    #gameOver-buttons {
        margin-top: 5rem;
    }

    #congratulations-container {
        margin-top: 24vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .center-container {
        width: 80vw;
        height: 44vh;
        margin-top: 14.3vh;
    }

    #mainMenu {
        margin-top: 8rem;
    }

    .contact-details {
        margin: 0;
    }

    .view {
        left: 41vw;
    }

    #questions-container {
        margin-top: 10.4vh;
    }

    #lifeBox {
        margin-top: 9rem;
    }

    #congratulations-container {
        margin-top: 26.3vh;
    }

    #gameOver-container h2 {
        margin-top: 8rem;
    }

    #category h2 {
        margin-top: 5rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .center-container {
        width: 80vw;
    }

    #main-title {
        margin-top: 10rem;
        font-size: 10rem;
    }

    #startQuiz {
        width: 250px;
        height: 90px;
    }

    .social {
        margin-top: 22rem;
    }

    .main-buttons {
        width: 250px;
        height: 90px;
    }

    #category h2 {
        margin-top: 10rem;
    }

    #questions-container {
        margin-top: 10vh;
    }

    #questions {
        font-size: 3.9rem;
    }

    #lifeBox {
        width: 200px;
        height: 200px;
        margin-top: 10rem;
        font-size: 13.1rem;
    }

    #gameOver-container h2 {
        font-size: 8rem;
        margin-top: 10rem;
    }

    #congratulations-text {
        margin-top: 6.8rem;
        font-size: 6rem;
    }

    #congratulationMessage {
        font-size: 3.5rem;
    }

    #gameCategory h1 {
        font-size: 7rem;
    }

    #quote {
        font-size: 2rem;
    }
}

