body {
	margin: 0;
	padding: 0;
	font-size: 16px;
    background-color: #7fe7dc;
}

.landing-row {
    position: relative;
}

.landing {
	width: 100vw;
	max-height: 100vh;
}

button {
    width: 150px;
    height: 30px;
    background-color: #f47a60;
    border:.5px solid #f47a60;
}

.center-container {
	width: 50vw;
	height: 45vh;
	margin: 0 auto;
	margin-top: 21vh;
	text-align: center;
    background-color: #316879;
    color: #ced7d8;
}

.social {
    width: 20vw;
    margin-top: 4rem;
    font-size: 3rem;
}

.social li {
	margin: .5rem;
}

.contact-details {
    margin-top: 1.5rem;
    text-align: center;
}

.view {
    position: absolute;
    bottom: 0;
    left: 44.7vw;
}

#quickView {
	color: #ced7d8;
}

/* landing page section ends here */

/* category options section starts here */

.sections {
	height: 820px;
}

#category {
	font-size: 5rem;
}

.category-buttons {
	margin-top: 5rem;
	width: 170px;
	height: 50px;
}



#scienceOption {
	margin-top: 2.8rem;
	text-align: center;
}

#scienceOption h1 {
	font-size: 4rem;
}

#quote {
	text-transform: capitalize;
}

#questions-containter {
	margin-top: 4vh;
}

#questions {
    font-size: 3.8rem;
}

#lifeBox {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	margin: 0 auto;
	margin-top: 3rem;
	text-align: center;
	font-size: 14rem;
    color: #f47a60;
    background-color: #ced7d8;
}

