@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
    background-color: #7fe7dc;
}

.uppercase {
    text-transform: uppercase;
}

/* landing page starts here */

.landing {
    width: 100vw;
	max-height: 100vh;
    position: relative;  
}

#address {
    opacity: .6;
}

button {
    width: 150px;
    height: 30px;
    background-color: #f47a60;
    border:.5px solid #f47a60;
    border-radius: .5rem;
}

.center-container {
	width: 50vw;
	height: 45vh;
	margin: 0 auto;
	margin-top: 21vh;
	text-align: center;
    background-color: #316879;
    color: #ced7d8;
}

#startQuiz {
	height: 60px;
	font-size: 2rem;
}

/* social icons styling */

.social {
    width: 20vw;
    margin-top: 4rem;
    font-size: 3rem;
}

.social li {
	margin: .5rem;
}

.contact-details {
    margin-top: 1.1rem;
    text-align: center;
}

/* social icons styling ends */

.view {
    position: absolute;
    bottom: 0;
    left: 44.7vw;
}

#quickView {
	color: #ced7d8;
}

/* landing page section ends here */

/* category options section starts here */

.hiddenAreas {
	height: 820px;
	display: none;
}

#category {
    margin-top: 26.3vh;
}

#category h2 {
	font-size: 5rem;
}

.main-buttons {
	margin-top: 5rem;
	width: 170px;
	height: 50px;
    text-transform: uppercase;
}

/* category section ends here */

/* questions section starts here */

.quote-section {
	text-align: center;
}

#gameCategory {
	margin-top: 5rem;
}

#questions-container {
	margin-top: 6.5vh;
}

#scienceOption h1 {
	font-size: 4rem;
}

#quote {
	text-transform: capitalize;
}

#questions {
    font-size: 2.5rem;
}

#lifeBox {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 3rem;
    border: 3px solid #316879;
    border-radius: .8rem;
	text-align: center;
	font-size: 9rem;
    color: #f47a60;
    background-color: #ced7d8; 
}

/* congratulation section starts here */

#congratulations-text {
	margin: 0;
}

.trophy {
	width: 100%;
	height: 100%;
	margin: 3rem 0 0 0;
	font-size: 1rem;
}

@keyframes photo-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(8);
	}
}

.gold {
	animation-name: photo-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: rgba(255,215,0,.8);
}

.silver {
	animation-name: photo-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: rgb(240, 240, 240);
}

.bronze {
	animation-name: photo-zoom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: rgb(205, 127, 50);
}