body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.landing {
	width: 100vw;
	max-height: 100vh;
}

.title {
	width: 50vw;
	height: 45vh;
	margin: 0 auto;
	margin-top: 21vh;
	text-align: center;
}

.social {
    width: 20vw;
    margin-top: 4rem;
    font-size: 3rem;
}

.social li {
	margin: .5rem;
}

.contact-details {
    margin-top: 1.5rem;
    text-align: center;
}
