body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.landing-row {
    position: relative;
}

.landing {
	width: 100vw;
	max-height: 100vh;
}

button {
    width: 150px;
    height: 30px;
}

.center-container {
	width: 50vw;
	height: 45vh;
	margin: 0 auto;
	margin-top: 21vh;
	text-align: center;
}

.social {
    width: 20vw;
    margin-top: 4rem;
    font-size: 3rem;
}

.social li {
	margin: .5rem;
}

.contact-details {
    margin-top: 1.5rem;
    text-align: center;
}

.view {
    position: absolute;
    bottom: 0;
    left: 44.7vw;
}

.sections {
	height: 820px;
}

#category {
	font-size: 5rem;
}

.category-buttons {
	margin-top: 5rem;
	width: 170px;
	height: 50px;
}

#science {
	margin-right: 3rem;
}

#history {
	margin-left: 3rem;
}